<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiqunar.light.dao.upms.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jiqunar.light.model.entity.upms.UserEntity">
        <result column="id" property="id"/>
        <result column="creater_id" property="createrId"/>
        <result column="creater_name" property="createrName"/>
        <result column="create_date" property="createDate"/>
        <result column="updater_id" property="updaterId"/>
        <result column="updater_name" property="updaterName"/>
        <result column="update_date" property="updateDate"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="user_name" property="userName"/>
        <result column="password" property="password"/>
        <result column="nick_name" property="nickName"/>
        <result column="avatar_url" property="avatarUrl"/>
        <result column="gender" property="gender"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <result column="dept_id" property="deptId"/>
        <result column="job_id" property="jobId"/>
        <result column="visit_date" property="visitDate"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
                id,
                creater_id,
                creater_name,
                create_date,
                updater_id,
                updater_name,
                update_date,
                is_deleted,
            user_name, password, nick_name, avatar_url, gender, phone, email, dept_id, job_id, visit_date
        </sql>
    <!-- 通用查询结果列 -->
    <sql id="UBase_Column_List">
        u.id,
        u.creater_id,
        u.creater_name,
        u.create_date,
        u.updater_id,
        u.updater_name,
        u.update_date,
        u.is_deleted,
        u.user_name, u.password, u.nick_name, u.avatar_url, u.gender, u.phone, u.email, u.dept_id, u.job_id,
        u.visit_date
        </sql>
    <select id="userList" resultType="com.jiqunar.light.model.response.upms.UserListResponse">
        SELECT <include refid="UBase_Column_List"/>, GROUP_CONCAT(r.id) role_id,GROUP_CONCAT(r.description) AS role_name
        FROM lu_user u
        LEFT JOIN lu_user_role ur ON
        ur.user_id=u.id AND ur.is_deleted=0
        LEFT JOIN lu_role r ON
        r.id=ur.role_id AND r.is_deleted=0
        <where>
            <if test="request.id!=null and request.id>0">
                u.id=#{request.id}
            </if>
            <if test="request.phone!=null and request.phone!=''">
                u.phone=#{request.phone}
            </if>
            <if test="request.userName!=null and request.userName!=''">
                u.user_name=#{request.userName}
            </if>
        </where>
        GROUP BY u.id
        ORDER BY u.id DESC
    </select>

</mapper>