<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiqunar.light.dao.moonlight.BillMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jiqunar.light.model.entity.moonlight.BillEntity">
        <result column="id" property="id"/>
        <result column="creater_id" property="createrId"/>
        <result column="creater_name" property="createrName"/>
        <result column="create_date" property="createDate"/>
        <result column="updater_id" property="updaterId"/>
        <result column="updater_name" property="updaterName"/>
        <result column="update_date" property="updateDate"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="open_id" property="openId"/>
        <result column="union_id" property="unionId"/>
        <result column="boss" property="boss"/>
        <result column="product" property="product"/>
        <result column="order_id" property="orderId"/>
        <result column="bill_date" property="billDate"/>
        <result column="bill_type" property="billType"/>
        <result column="amount" property="amount"/>
        <result column="tag" property="tag"/>
        <result column="sub_tag" property="subTag"/>
        <result column="description" property="description"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        ,
                creater_id,
                creater_name,
                create_date,
                updater_id,
                updater_name,
                update_date,
                is_deleted,
            open_id, union_id, boss, product,order_id, bill_date, bill_type, amount, tag, sub_tag, description
    </sql>
    <update id="updateSaleCount">
        update bill
        set updater_id=updater_id + 1
        where id = #{id}
    </update>
    <update id="updateSaleCountByUsed">
        update bill
        set updater_id=updater_id + 1
        where id = #{id}
          and updater_id = #{usedCount}
    </update>
    <select id="billStatistics"
            resultType="com.jiqunar.light.model.response.moonlight.StatisticsDetail">
        SELECT SUM(IF(bill_type = 0, amount, 0)) AS expenseAmount,
               SUM(IF(bill_type = 1, amount, 0)) AS earningAmount,
               DATE_FORMAT(bill_date, #{statisticsTypeFormat}) AS 'desc'
        FROM bill
        where bill_date &gt; #{startDate}
          and bill_date &lt; #{endDate}
          and open_id = #{openId}
        GROUP BY DATE_FORMAT(bill_date, #{statisticsTypeFormat})
        ORDER BY bill_date
    </select>
    <resultMap id="yearBillMap" type="com.jiqunar.light.model.response.moonlight.YearBillResponse"/>
    <resultMap id="yearBillMap1" type="com.jiqunar.light.model.response.moonlight.YearBillResponse"/>
    <resultMap id="yearBillMap2" type="com.jiqunar.light.model.response.moonlight.YearBillResponse"/>
    <resultMap id="yearBillMap3" type="com.jiqunar.light.model.response.moonlight.YearBillResponse"/>
    <resultMap id="yearBillMap4" type="com.jiqunar.light.model.response.moonlight.YearBillResponse"/>
    <resultMap id="yearBillMap5" type="com.jiqunar.light.model.response.moonlight.YearBillResponse"/>
    <resultMap id="yearBillMap6" type="com.jiqunar.light.model.response.moonlight.YearBillResponse"/>
    <resultMap id="yearBillMap7" type="com.jiqunar.light.model.response.moonlight.YearBillResponse"/>
    <resultMap id="yearBillMap8" type="com.jiqunar.light.model.response.moonlight.YearBillResponse"/>
    <resultMap id="yearBillMap9" type="com.jiqunar.light.model.response.moonlight.YearBillResponse"/>
    <resultMap id="yearBillMap10" type="com.jiqunar.light.model.response.moonlight.YearBillResponse"/>
    <resultMap id="yearBillMap11" type="com.jiqunar.light.model.response.moonlight.YearBillResponse"/>
    <select id="billYear"
            resultMap="yearBillMap,yearBillMap1,yearBillMap2,yearBillMap3,yearBillMap4,yearBillMap5,yearBillMap6,yearBillMap7,yearBillMap8,yearBillMap9,yearBillMap10,yearBillMap11"
            resultType="java.util.Collection">
        SELECT COUNT(1) yearBillCount, SUM(amount) yearBillAmount
        FROM bill
        WHERE open_id = #{openId}
          AND DATE_FORMAT(bill_date, '%Y') = #{year};
        SELECT COUNT(1) yearBillAlipayCount, SUM(amount) yearBillAlipayAmount
        FROM bill
        WHERE open_id = #{openId}
          AND DATE_FORMAT(bill_date, '%Y') = #{year}
          AND tag = '支付宝';
        SELECT COUNT(1) yearBillWepayCount, SUM(amount) yearBillWepayAmount
        FROM bill
        WHERE open_id = #{openId}
          AND DATE_FORMAT(bill_date, '%Y') = #{year}
          AND tag = '微信';
        SELECT COUNT(1) yearExpenseCount, SUM(amount) yearExpenseAmount
        FROM bill
        WHERE open_id = #{openId}
          AND DATE_FORMAT(bill_date, '%Y') = #{year}
          AND bill_type = 0;
        SELECT COUNT(1) yearEarning_count, SUM(amount) yearEarning_amount
        FROM bill
        WHERE open_id = #{openId}
          AND DATE_FORMAT(bill_date, '%Y') = #{year}
          AND bill_type = 1;
        SELECT DATE_FORMAT(bill_date, '%m') monthExpenseMost, SUM(amount) monthExpenseMostAmount
        FROM bill
        WHERE open_id = #{openId}
          AND DATE_FORMAT(bill_date, '%Y') = #{year}
          AND bill_type = 0
        GROUP BY DATE_FORMAT(bill_date, '%Y-%m')
        ORDER BY SUM(amount) DESC LIMIT 1;
        SELECT boss bossMost, COUNT(1) bossMostCount
        FROM bill
        WHERE open_id = #{openId}
          AND DATE_FORMAT(bill_date, '%Y') = #{year}
          AND bill_type = 0
        GROUP BY boss
        ORDER BY COUNT(1) DESC LIMIT 1;
        SELECT COUNT(1) tbExpenseCount, SUM(amount) tbExpenseAmount
        FROM bill
        WHERE open_id = #{openId}
          AND DATE_FORMAT(bill_date, '%Y') = #{year}
          AND tag = '支付宝'
          AND bill_type = 0
          AND sub_tag = '淘宝';
        SELECT COUNT(1) wxhbSendCount, SUM(amount) wxhbSendAmount
        FROM bill
        WHERE open_id = #{openId}
          AND DATE_FORMAT(bill_date, '%Y') = #{year}
          AND tag = '微信'
          AND bill_type = 0
          AND sub_tag LIKE '%红包%';
        SELECT COUNT(1) wxhbReceiveCount, SUM(amount) wxhbReceiveAmount
        FROM bill
        WHERE open_id = #{openId}
          AND DATE_FORMAT(bill_date, '%Y') = #{year}
          AND tag = '微信'
          AND bill_type = 1
          AND sub_tag LIKE '%红包%';
        SELECT COUNT(1) bossTotalCount
        FROM (
                 SELECT boss
                 FROM bill
                 WHERE open_id = #{openId}
                   AND DATE_FORMAT(bill_date, '%Y') = #{year}
                   AND bill_type = 0
                 GROUP BY boss) AS A;
        SELECT amount maxAmount, boss maxAmountBoss
        FROM bill
        WHERE open_id = #{openId}
          AND DATE_FORMAT(bill_date, '%Y') = #{year}
          AND bill_type = 0
        ORDER BY amount DESC LIMIT 1;
    </select>
</mapper>